*{
    margin:0;
    padding:0;
  }
  
  body{
    margin:0;
    font-family:  'Gill Sans', sans-serif;
    font-size:17px;
    color: grey;
    line-height:1.6;
  }
  
  #showcase{
    background-image:url('');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    opacity: 100%;
  }
  
  #showcase h1{
    font-size:60px;
    line-height:1.2;
    color: #046582;
  
  
  }
  
  
  
  #showcase p{
    font-size:15px;
    font-style: italic;
  }
  
  #showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#9dad7f;
    border:#9dad7f 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
    color:grey;
  }
  
  #showcase .button:hover{
    background:#9dad7f;
    color:#fff;
  }
  
  #section-a{
    padding:20px;
    background:#926239;
    color:#fff;
    text-align:center;
  }
  
  #section-b{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
  }
  .showcase img {
    float: inline-end;
    width: 20px;
    height: 40px;
    background: #bccbdb;
  }

  .button{
    font-size:18px;
    text-decoration:none;
    color:#9dad7f;
    border:#9dad7f 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
    color:grey;
  }

  .button:hover{
    background:#9dad7f;
    color:#fff;
  }