body,html {
	margin:0;
	height:100%;
	width:100%;
}
header, html{
  height:65%;
}
body {
	font-family:  'Gill Sans', sans-serif;
	color:white;
	display: grid;
  background-color: rgb(17, 1, 41);
	grid-template-areas: 
	"header"
	"menu"
  "content";
}

.header {
	height: 100%;
	background-color: rgb(17, 1, 41);
	color: white;
	font-size: 3em;
	
}


.menu {
	grid-area: menu;
    margin: 100, 4px;
    
}
.others{
	grid-area: content;
    margin: auto;
    width: 555px;
    height: 35px;
    float:center;
    border: 3px solid whitesmoke;
    padding: 5px;
    color: white;
    line-height: 100%;
  

}

.column {
  float: left;
  width: 70.33%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: inline-start;
  width: 69.33%;
  text-align: left;

}
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #0c081c;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: #c0b2b2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #c0b2b2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #758eb7;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c0d33;
  color: #bbb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



img {
  border-radius: 50%;
}
/* Three columns side by side */
.column {
  float: left;
  width: 45%;
  margin-bottom: 16px;
  padding: 0 8px;
  align-items: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}
.container1 {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/* Parent Container */
.content_img{
  position: absolute;
  width: 200px;
  height: 200px;
  left:10%;
  margin-right: 10px;
 }
 .content_img2{
  position: absolute;
  width: 400px;
  height: 200px;
  left:57%;
  margin-right: 10px;
 }
 
 /* Child Text Container */
 .content_img div{
  position: absolute;
  align-content: center;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 .content_img2 div{
  position: absolute;
  align-content: center;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .content_img:hover{
  cursor: pointer;
 }
 .content_img2:hover{
  cursor: pointer;
 }
 
 .content_img:hover div{
  width: 200px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  position: absolute;
  left:50%;
  bottom:-100%;
 }
 .content_img2:hover div{
  width: 200px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  position: absolute;
  left:15%;
  bottom:-100%;
 }
