body,html {
	margin:0;
	height:100%;
	width:100%;
}
body {
	font-family:  'Gill Sans', sans-serif;
	color:black;
	display: grid;
	grid-template-areas: 
	"header header"
    "menu menu"
	"content content";
}

.header {
	grid-area: header;
	background-color: rgb(17, 1, 41);;
	color: white;
	font-size: 3em;
  size: 100%;
	
}


.content{
	grid-area: content;
    margin: auto;
    width: 50%;
    height: 100%;
    bottom:-260px;
    left: 0px;
    position: absolute;
    background-color:rgb(17, 1, 41);
}
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #0c081c;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: #c0b2b2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #c0b2b2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #758eb7;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c0d33;
  color: #bbb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
img {
    float: left; 
    margin: 15px;
}

  .horizontal-scroll-wrapper  {
    width:1000px;
    height: 100%;
    overflow-y:visible;
    overflow-x:hidden;
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: 100% ;
    position: absolute;
    left:-100px;
    top:-410.7px;
    background-color:rgb(17, 1, 41);
    
  }
  .horizontal-scroll-wrapper > div {
    width: 600px;
    height: 690px;
    transform: rotate(90deg);
    transform-origin: 100%  ;
    bottom:0px;
    left: 0px;
    color:white;
  }
  


