body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	font-family:  'Gill Sans', sans-serif;
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #8799ac;
	color: white;
	font-size: 2em;
	justify-content:center;
    align-items:center;
    text-align:center;
	line-height:0;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: #c2cec5;
	overflow: auto;
	border: 1px solid rgb(151, 136, 136);
	margin: 3px;
	
}

.sidebar-item {
	padding: 7px;
	background: rgb(196, 174, 173);
	border: 1px solid rgb(151, 136, 136);
	margin: 3px;
	color: rgb(255, 254, 254);
	justify-content:center;
    align-items:center;
    text-align:center;
	line-height:0.5;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}
