body{
    font-family: 'Gill Sans', sans-serif;
}
section{
    max-width: 57%;
    margin: auto;
    text-align: center;
}
.wrapper{
    height: 100vh;
    display:flex;
    align-items:center;
    color: #FFF;
}
.video-wrap{
    position: absolute;
    top:0%;
    left: 0%;
    right:40%;
    width:100%;
    height:100%;
    overflow:hidden;
}
.video-wrap video{
    max-width:105%;
    max-height:125%;
}
.landing-text{
    z-index:2;
    font-size: small;
    
}
h1{
font-weight:600;
font-size:  380%;
color: black;
animation-name: hd;
animation-delay: 1s;
}
h3{
    font-size: smaller;
}

@keyframes hd {
	from {background-color: white  }
	to {background-color: #bccbdb;}
  }